<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/newpost" method="POST">
        <label class="IDandPW" id="userID">
            <input type="text" id="userID" name="title" placeholder="제목" required>
            <div class="clearBtn"></div>
        </label>
        <label class="IDandPW" id="userPW">
            <textarea name="content" id="" cols="30" rows="10" placeholder="내용"></textarea>
            <div class="clearBtn"></div>
        </label>

        <button type="submit" id="btn-signin">확인</button>
    </form>
</body>
</html>